* {
    /* padding: 10px; */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    flex-flow: wrap;
    width: 28%;
    background-color: gray;
    
}

@media queries  {

}
