
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
}

.prodcut-title {
    text-align: center;
    border: dotted 1px lightgrey;
    
}

.card {
    /* padding: 10px; */
    margin: auto;
    margin-top: 10px;
    flex-flow: wrap;
    width: 28%;
    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, .5);
    border: solid 1px lightblue;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}

.justify-descrip {
    text-align: justify;
    padding: 8px;
}

.bold {
    font-weight: bold;
    margin: auto;
    padding: 0 0 0 1.2em;
}

.available {
    background: grey;
    color: yellow;
    line-height: 2em;
    font-size: 1.2em;
}

.specs {
    align-items: center;
}

p:not(.justify-descrip, .available) {
    line-height: 1em;
}

h2:not(.title) {
    line-height: 1em;
    font-weight: lighter;
    padding: 0;
    margin: auto;
}

footer > p {
    margin: auto;
    padding: 2px;
}

